.UserDocList {
    margin: 30px 30px 200px 30px;
    width: 72%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}
th {
    background-color:#9ef7e8;
}
#btn {  
    margin-bottom: 20px;
    float: right;   
}
#btn button{
    width: 90px;
}
input#searchBar{
    margin: 0;
    float: left;
    width: 30%;
    border-color:  #17a2b8;
}