.card {
    clear: both;
    float: right;
    margin-top: 40px;
    margin-right: 25px;
}
.GroupLabel{
    padding-left: 10px;
    background-color: #2e2e2e; 
    margin-bottom: 0px;
    color: white;
    border-radius: 4px;
}