.navbar {
    background-color: #2e2e2e;
}
.SignOut {
	background-color: #fdfdfd;
}

a {
	text-decoration: none;
	color: #9ef7e8;
	padding: 10px;
	margin-left: 15px;
}

a:hover{ 
    color: #fdfdfd;
}