#form {
    margin-top: 30px;
    margin-left: 20px;
    width: 20%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}
input {
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

select,
input::placeholder{
    font-size: 1em;
    font-weight: lighter;
    color: #999;
}
.docBtn button {
    width: 100%;
    margin: 15px 0 0 5px;

} 

.template,
.name,
.recipient,
select {
    margin-bottom: 0.15em;
}
