.b {
    width: 285px;
    clear: both;
    margin-top: 40px;
    margin-right: 25px;
    background-color: #2e2e2e;
}

.b:hover {
    color: #05490b;
    background-color: #fff;
    border: 2px solid #05490b;
}
 