.pagening {
    clear: both;
    width: 290px;
    margin-bottom: 90px;

}
.pagening a{
    color: #17a2b8;
    border-color: #17a2b8;
    background-color:  #2e2e2e;
}
ul.pagination {
    margin-right: 0px;
}
.pageningCont{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}
